[QC]
fastp='/tool/fastp'
ccs='/opt/pacbio/smrtlink9/smrtcmds/bin/ccs'
lima='/opt/pacbio/smrtlink9/smrtcmds/bin/lima'
bax2bam='/opt/pacbio/smrtlink7/smrtcmds/bin/bax2bam'
bam2fasta='/opt/pacbio/smrtlink9/smrtcmds/bin/bam2fasta'
isoseq3='/opt/pacbio/smrtlink9/smrtcmds/bin/isoseq3'
lordec_correct='/tool/lordec-src_0.9/lordec-correct'
lordec_trim='/tool/lordec-src_0.9/lordec-trim'
nanoplot='/usr/local/python3/bin/NanoPlot'
nanofilt='/usr/local/python3/bin/NanoFilt'
samtools='/opt/pacbio/smrtlink9/smrtcmds/bin/samtools'
[QCscripts]

[Vars]
[Transcript]
[WGS]
[Database]
rRNA=''
