[QC]
fastp=/tool/fastp
fastqc=/tool/FastQC/fastqc
trimmomatic=/tool/Trimmomatic-0.39/trimmomatic-0.39.jar
smrtlink9=/opt/pacbio/smrtlink9/smrtcmds/bin
smrtlink7=/opt/pacbio/smrtlink7/smrtcmds/bin
lordec_correct=/tool/lordec-src_0.9/lordec-correct
lordec_trim=/tool/lordec-src_0.9/lordec-trim
nanoplot=/usr/local/python3/bin/NanoPlot
nanofilt=/usr/local/python3/bin/NanoFilt
hisat2=/tool/hisat2-2.2.1/hisat2
[Variation]
bwa2=/tool/bwa-mem2-2.0pre2_x64-linux/bwa-mem2
minimap2=/tool/minimap2/minimap2
ngml=/tool/ngmlr-0.2.7/ngmlr
samtools=/usr/local/bin/samtools
bcftools=/tool/samtools/bcftools/bcftools
vcfutils=/tool/samtools/bcftools/vcfutils.pl
gatk4=/tool/gatk-4.2.0.0/gatk
BreakDancer=/tool/breakdancer/build/bin/breakdancer-max
bam2cfg=/tool/breakdancer/perl/bam2cfg.pl
Crest=/tool/CREST/CREST.pl
extractSClip=/tool/CREST/extractSClip.pl
fato2bit=/root/bin/x86_64/faToTwoBit
CNVnator=/tool/CNVnator/cnvnator
cnvnator2VCF=/tool/CNVnator/cnvnator2VCF.pl
control_freec=/tool/FREEC-11.6/src/freec
freec_WGS_config=/tool/FREEC-11.6/data/config_WGS.txt
freec_WES_config=/tool/FREEC-11.6/data/config_exome.txt
Sniffles=/tool/Sniffles-master/bin/sniffles-core-1.0.12/sniffles
ANNOVAR=/tool/annovar/
gff3ToGenePred=/tool/gff3ToGenePred
getVarformAll=/scripts/getVarformAll.py
splitSNPindelVCF=/scripts/splitSNPindelVCF.py

[Transcript]
hisat2=/tool/hisat2-2.2.1/hisat2
samtools=/usr/local/bin/samtools
stringtie=/tool/stringtie-2.1.4.Linux_x86_64/stringtie
preDE=/tool/stringtie-2.1.4.Linux_x86_64/prepDE.py
Rscript=/usr/bin/Rscript

[WGS]

[Database]

